/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font-family: Inter;
  --accent-font-family: PressStart2P;
  --card-title-weight: 700;
  --card-text-weight: 400;
  --main-color: #000;
  --bg-color: #fff;
  --text-stroke-color: #fff;
  --button-text-color: #fff;
  --heart-contour-color: #000;
  --sparks-color: #f00;
  --heart-core-color: #000;
  --heart-body-color: #000;
  --heart-fill: #f00;
  --background: repeating-linear-gradient( #d3d3d3 0px 2px, rgba(0, 0, 0, 0) 2px 4px),
  repeating-linear-gradient(90deg, #e7e7e7 0px 2px, #1a1a1a 2px 4px),
  linear-gradient(180deg, #E7E7E7 0%, #1A1A1A 100%);
}